@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600;700;800&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .check-content {
    @apply flex gap-x-8;
  }
  .navBarMobile {
    @apply bg-white text-black absolute right-10 py-4 px-4;
  }
  .navBarDesktop {
    @apply flex font-extrabold gap-8;
  }
}
